.phpdoc
.vscode
vendor
composer.lock
gendoc.sh
phpDocumentor.phar
examples/setting.inc.php
examples/composer.json
examples/composer.lock
examples/vendor
examples/*.log
src/cache/*
unittest.log
tests/setting.inc.php
